@using EntityLayer.Concrete
@model Writer
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Writer Info</h4>
              
                    <div class="d-flex">
                        <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
                            <i class="mdi mdi-account-outline icon-sm mr-2"></i>
                            <span>@Model.WriterName</span>
                        </div>
                        <div class="d-flex align-items-center text-muted font-weight-light">
                            <i class="mdi mdi-clock icon-sm mr-2"></i>
                            <span>October 3rd, 2018</span>
                        </div>
                    </div>

                
                    <div class="row mt-3">
                        <div class="col-1 float-right">
                            <img src="@Model.WriterImage" class="img-sm rounded-circle" alt="image">

                        </div>
                        <div class="col-11 pr-1 float-left">
                            @Model.WriterAbout
                        </div>

                    </div>
                
            </div>
        </div>
    </div>
</div>
